<div class= "paginador">
    {% if productos.has_previous %}

        <a href=" ?page=1 " > &laquo; Primero </a>
        <a href=" ?page={{productos.previos_page_number}}">  Anterior  </a>

    {% endif %} 

    <span>
        Página {{productos.number}} de {{productos.paginator.num_pages}}
    </span>

    {% if productos.has_next %}
        
        <a href=" ?page={{productos.next_page_number}}">  Siguiente  </a>
        <a href=" ?page={{productos.paginator.num_pages}} " > Último &raquo; </a>

    {% endif %} 

</div>